/* MAIN: FLEXBOX HANDLING --------------------------------------- */
.site {
    display: flex;
    min-height:100vh;
    flex-direction: column;
    background: #0b032d no-repeat fixed bottom;
    background-size: 100%
}
.site-content {
    flex: 1;
    max-width: 100%;
}
/* ---------------------------------------------------------- fin. */

/* HEADER -------------------------------------------------------- */
#main-nav {
    display: flex;
    flex-direction: row;
    margin: -10pt auto;
    margin-top: 30px;
    justify-content: center;
    font-size: 12px;
}


.main-nav-text {
    color: #fff;
}

.main-nav-text:visited {
    color: #fff;
    text-decoration: none;
}

.main-nav-text:hover {
    color: #ffb997;
    text-decoration: none;
}

.main-nav-text:active {
    color: #843b62;
    text-decoration: none;
}
/* ---------------------------------------------------------- fin. */


/* SITE CONTENT -------------------------------------------------- */
/* --- MAIN --- */
.main-container {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 700px;
    max-height: 475px;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.overflow-hidden {
    overflow: hidden;
}

/*  --- ELEMENTS --- */
/* text */
p {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: white
}

ul, li, i {
    /* list-style-type: square; */
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: white
}

.tabs {
    margin-bottom: 15px;
}

.no-top-margin {
    margin-top: 0px;
    padding-top: 0px;
}

.attn-text {
    font-size: 16px;
    font-weight: bold;
}

.pink-text {
    color: #f67e7d
}

.white-text {
    color: white;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: #f67e7d;
    text-decoration: none;
}

    a:visited {
        font-family: 'Roboto', sans-serif;
        font-size: 12pt;
        color: #f67e7d;
        text-decoration: none;
    }

    a:hover {
        font-family: 'Roboto', sans-serif;
        font-size: 12pt;
        font-weight: bold;
        color: #ffb997;
        text-decoration: none;
    }


    a:active {
        font-family: 'Roboto', sans-serif;
        font-size: 12pt;
        font-weight: bold;
        color: #843b62;
        text-decoration: none;
    }

.rel-links {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: white;
    text-decoration: none;
}

    .rel-links:visited {
        font-family: 'Roboto', sans-serif;
        font-size: 12pt;
        color: white;
        text-decoration: none;
    }

    .rel-links:hover {
        font-family: 'Roboto', sans-serif;
        font-size: 12pt;
        font-weight: bold;
        color: #ffb997;
        text-decoration: none;
    }

    .rel-links:active {
        font-family: 'Roboto', sans-serif;
        font-size: 12pt;
        font-weight: bold;
        color: #843b62;
        text-decoration: none;
    }
    
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
 
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

/* contact-me units */
.contact-unit {
    max-width: 100px;
    height: 30px;
    margin: 10px;
    padding-top: 10px;
    text-align: center; 
    color: #ffb997;
}

/* list-group */
.list-group .list-group-flush.list-group-item {
    color: #fff;
  }
/* ---------------------------------------------------------- fin. */


/* FOOTER -------------------------------------------------------- */
.site-footer {
    height: 70px;
    width: 100%;
    font-family: 'Helvetiva Neue', Arial, Helvetica, sans-serif;
    /* background-color: rgba(51,51,51,0.7); */
    /* border-top: solid white 0.6px; */
    text-align: center;
    padding-top: 30px;
}

#footer-text {
    font-size: 10pt;
}
/* ---------------------------------------------------------- fin. */

